.app {
  display: flex;
  min-height: 100vh;
  background: #f9fafb;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 280px; /* Bằng với width của sidebar */
}

.full-screen {
  width: 100% !important;
}